.robotsQRealNode {
    cursor: grab;
    margin: 2% 0;
    float: left;
}
.robotsQRealNodeHandle {
    /*border-radius: 100%;*/
    /*background: grey;*/
    width: 10px;
    height: 10px;
    background: transparent;
    z-index: 999;
    /*border: none;*/
    /*width: 10px;*/
    /*height: 10px;*/
}
.robotsQRealNodeName {
    float: left;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 5%;
}
.robotsQRealNodeContainer {
    overflow: hidden;
}