.robotsQRealNode {
    cursor: grab;
    margin: 2% 0;
    float: left;
}
.robotsQRealNodeHandle {
    left: 50%;
    border-radius: 100%;
    background: grey;
    width: 7px;
    height: 7px;
}
.robotsQRealNodeName {
    float: left;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 5%;
}
.robotsQRealNodeContainer {
    overflow: hidden;
}