.OverviewFlow {
    flex-direction: column;
    display: flex;
    height: 100%;
}

. OverviewFlow.aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.OverviewFlow aside .description {
    margin-bottom: 10px;
}

.OverviewFlow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.OverviewFlow.dndnode.input {
    border-color: #0041d0;
}

.OverviewFlow .dndnode.output {
    border-color: #ff0072;
}

.OverviewFlow.Scene {
    flex-grow: 1;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .OverviewFlow {
        flex-direction: row;
    }

    .OverviewFlow aside {
        width: 20%;
        max-width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .OverviewFlow {
        flex-direction: row;
    }

    .OverviewFlow aside {
        width: 20%;
        max-width: 250px;
    }
}
