@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
        height: 100%;
    }
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 0px;
        width: 225px;
        margin-left: -225px;
        border: initial;
        background-color: #90b99e;
        bottom: 0;
        padding-bottom: 40px;
    }

        .side-nav > li > a {
            width: 225px;
            border-bottom: 2px #70907b solid;
            color: #273229;
            font-weight: bold;
        }

        .side-nav li a:hover,
        .side-nav li a:focus {
            outline: none;
            background-color: #70907b !important;
        }
}

.side-nav > li > ul {
    padding: 0;
}

    .side-nav > li > ul > li > a {
        display: block;
        padding: 10px 15px 10px 20px;
        text-decoration: none;
        color: #000;
        border-bottom: 2px #70907b solid;
    }

        .side-nav > li > ul > li > a:hover {
            color: #000;
        }

    .side-nav > li > ul > li > ul {
        list-style-type: none;
        padding: 0;
        border-bottom: 2px #70907b solid;
    }

.side-nav > li > ul {
    list-style-type: none;
    padding: 0;
    border-bottom: 2px #70907b solid;
}

.ul {
    list-style-type: none;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 70%;
}

#room {
    height: 30%;
}

.grid-divider {
    position: relative;
    padding: 0;
}

    .grid-divider > [class*='col-'] {
        position: static;
    }

        .grid-divider > [class*='col-']:nth-child(n+2):before {
            content: "";
            border-left: 2px solid #DDD;
            position: absolute;
            top: 0;
            bottom: 0;
        }

.row:not(:last-child) {
    border-bottom: 2px solid #90b99e;
}

[class*='col-']:not(:last-child) {
    border-right: 2px solid #90b99e;
}

[class*='col-'] {
    height: 100%;
}

h3 .green-text {
    color: #86a992;
}

