.operatorNode {
    border: 1px solid #b85450;
    background: #f8cecc;
    cursor: pointer;
}

.operatorNode .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.readerNode {
    border: 1px solid #d6b656;
    border-radius: 10%;
    background: #fff2cc;
    cursor: pointer;
}

.readerNode .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.port {
    width: 7px;
    height: 7px;
    background-color: dimgrey;
    border: 0.5px solid grey;
    border-radius: 100%;
}
.port::after {
    content: '';
    position: absolute;
    top: -75%;
    left: -75%;
    width: 250%;
    height: 250%;
    z-index: 15;
}

.operatorInternalsNode {
    border: 1px solid #6c8ebf;
    background: #dae8fc;
    cursor: pointer;
}

.resizeButton {
    position: absolute;
    bottom: -4px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 0;
    cursor: pointer;
}
.resizeButton::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 15;
}

.nodeHandle {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.nodeResizeHandle {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 100%;
    cursor: se-resize;
}
.nodeResizeHandle::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 15;
}

.materializationLineNode {
    height: 0;
    border: 1px dashed #6d1f00;
    cursor: pointer;
}

.materializationLineNodeHandle {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}
.materializationLineNodeHandle::after {
    content: '';
    position: absolute;
    top: -600%;
    left: -50%;
    width: 200%;
    height: 1300%;
}

.materializationLineNodeResizeHandle {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 100%;
    cursor: ew-resize;
}
.materializationLineNodeResizeHandle::after {
     content: '';
     position: absolute;
     top: -50%;
     left: -50%;
     width: 200%;
     height: 200%;
     z-index: 15;
 }

.localEdge {
    stroke: #000000;
    stroke-width: 1.5;
    cursor: pointer;
}

.remoteEdge {
    stroke: #000000;
    stroke-width: 1.5;
    stroke-dasharray: 4;
    cursor: pointer;
}