aside {
    font-size: 12px;
}

.alertContainer {
    margin-right: 10px;
    margin-bottom: 10px;
}

.alert {
    float: right;
    width: 300px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}