aside {
    border-left: 1px solid lightgrey;
    padding: 5px 15px;
    font-size: 12px;
    background: #fcfcfc;
}
.description {
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}