aside {
    border-left: 1px solid lightgrey;
    padding: 5px 15px;
    font-size: 12px;
    background: #fcfcfc;
}
.description {
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
.paletteNode {
    border: 1px solid black;
    padding: 10px;
    background: white;
    width: fit-content;
    height: max-content;
    border-radius: 3px;
}